.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
}
.box{
    background-color: crimson;
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    background-color: blue;
}

