
.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}
.comment time {
    display: block;
    font-size: 0.8em;
    color: #666;
}



.comment button {
    background-color: red;
    color: white;
}

.comment button:hover {
    background-color: #2b0101;
}

button[type="submit"] {
    background-color: #08924d;
    color: white;
}

button[type="submit"]:hover {
    background-color: #0b6e3d;
}